/* Move down content because we have a fixed navbar that is 50px tall */

body {
  padding-bottom: 20px;
  background-color: #484950;

}
.image{
	height:500px;
	width:300px;
}
.spacing{
	margin-top: 30px;
}
.btnrate{
	width:54%;
}
.description{
	background-color: #484950;
	color:#BCBCBC;
	padding: 10px 10px 10px 10px;
	border: 2px solid;
    border-radius: 25px;

}
.rating{
		width: 30px;
		height: 30px;
	}
.jumbotron{

	background-size: 100%;
	background-image: url('../images/student-travel.png');
}
.jumbotron h2{
	 font-size: 72px;
    line-height: 30px;
    color: #484950;
    font-weight: 300;
    margin-bottom: 20px;
    text-transform: uppercase;
}
@font-face{
	/* http://www.dafont.com/gourdie-cursive.font?text=Your+Tri%5B */
    font-family: "GCursiv2";
    src: url('GCursiv2.ttf');
}
.textcontent{
	 color: #E0E0D1;
}


.form{
	background-color: #FFC285;
	border-radius: 10px 10px 10px 10px;
}
.content{
	margin-top: 120px;

}
#title{
	font-family: "GCursiv2";
	color: #FF9933;
	font-size: 72px;
}
a{
	color: black;
	text-decoration: none;
}
a:hover{
	color: #FFA347;
	text-decoration: none;
}
#icon{
	width:40px;
	height:40px;
	position: fixed;
    top: 20px; 
}
#navshape{
	padding-top: 15px;
	background-color: #D2D1D1;
	/* http://www.chickensmoothie.com/Forum/viewtopic.php?f=65&t=2023377 */
	background-image: url('../images/city_banner.png');
	color: #FF9933;



}