/* Move down content because we have a fixed navbar that is 50px tall */

body {
  padding-bottom: 20px;
  background-color: #484950;

}
.imagepopup{
	height:250px;
	width:180px;
}
.pin{
	width:35px;
	height: 35px;
}
.gohome{
	margin-top: 40px;
}
.weatherFeed {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	
	color: #ccc;

}
.key{
	color: #E0E0D1;
	
}
.days{
	border-radius: 3px;
	border: #FFE0B2 solid 2px;
}
.weatherFeed a { color: #888;  }
.weatherFeed a:hover {
	color: #eee;
	text-decoration: none;
}
.weatherItem {
	padding: 0.8em;
	text-align: right;
}
.weatherCity { text-transform: uppercase; color: #000; }
.weatherTemp {
	font-size: 2.8em;
	font-weight: bold;
	color: #eee;

}
.weatherDesc, .weatherCity { font-weight: bold; }
.weatherDesc { margin-bottom: 0.4em; color: #eee; }
.weatherRange, .weatherWind { font-size: 0.8em; }


.vertical {  
	position:relative;
	overflow:hidden;	
	height: 160px;	 
	width: 280px;
	border: 4px solid #555;
	background: #222 url('bg.jpg') repeat-x;
}

.items {
	position:absolute;
	height:20000em;	
	margin: 0px;
}
.items div.weatherItem { height: 160px; }

.navi {
	width:288px;
	height:20px;
}
.navi a {
	width:8px;
	height:8px;
	float:left;
	margin:3px;
	background: url('navigator.png') 0 0 no-repeat;
	display:block;
	font-size:1px;
}
.navi a:hover { background-position:0 -8px; }
.navi a.active { background-position:0 -16px; }

#ratingdiv{overflow:hidden}
#ratingdiv .undone, #ratingdiv .fade{
background:url("star.gif") -30px 0 no-repeat;
width:28px;
display:block;
height:30px;
float:left;
margin-right:4px;
text-indent:-99999px
}
#ratingdiv .done{
background:url("star.gif") no-repeat;
width:28px;
display:block;
height:30px;
float:left;
margin-right:4px;
text-indent:-99999px
}
#ratingdiv .undone:hover{background-position:0}
.vis{
	display: none;
	width: 310px;
}

/*.opacity{
	opacity: 0.6;
}*/
.banner {
    top: -45px;
    position: relative;

}

.banner .label {
    color: #fff;
    white-space: normal;
    position: absolute;
    text-align: center;
    left: 0;
    top: 40%;
    margin-top: -38px;
    right: 0;
    
}


.banner .label .title {
    font-size: 30px;
    margin-bottom: 14px;
   
    
}
.activities{
	background-color: rgba(72, 73, 80, 0.7);
	color: #FF9933;
	border-radius: 5px;
}

.banner .label .price span {
    display: block;
    font-size: 24px;
    padding-top: 3px;
}

.banner a {
    font-size: 14px;
    line-height: 20px;
    color: #c73430;

    display: inline-block;
    background-color: #e5e5e5;
    padding: 5px 18px 4px;
    margin-top: 25px;
    border-radius: 13px;
}

.banner a:hover {
    background-color: #c73430;
    color: #fff;
}
.bubble{
	/*https://g.twimg.com/Twitter_logo_blue.png*/
	background-image:url('../images/twitter-big.png');
	background-size: 100%;
	background-repeat: no-repeat;
	background-color: #E6A665;
	border-radius: 30px;
	padding: 40px 40px 40px 40px;
	margin-top: 80px;
	text-align: center;
	color: #484950;

}
.image{
	height:500px;
	width:310px;
}
.spacing{
	margin-top: 30px;
}
.rate{
	width:310px;
	background-color: blue;
	margin-top: 10px;
}
.description{
	background-color: #484950;
	color: #E0E0D1;
	padding: 10px 10px 10px 10px;
	border: 2px solid;
    border-radius: 25px;

}
.easysteps{
	height: 100%;
	width: 100%;
	padding: 5px 5px 5px 5px;
}
.rating{
		width: 30px;
		height: 30px;
		margin-bottom: 5px;
	}
.jumbotron{

	background-size: 100%;
	background-image: url('../images/student-travel.png');
	/* http://www.tenontours.com/assets/student-travel.jpg */
}
.jumbotron h2{
	 font-size: 72px;
    line-height: 30px;
    color: #484950;
    font-weight: 300;
    margin-bottom: 20px;
 
}
.scrollToTop, .scrollToTop:visited{
	width:100px; 
	height:60px;
	padding:10px; 
	text-align:center; 
	font-weight: bold;
	background-color: #484950;
	color: #FF9933;
	border: solid 2px  #E0E0D1;
	text-decoration: none;
	border-radius: 10px;
	position:fixed;
	bottom:40px;
	right:40px;


}
.scrollToTop:hover{
	text-decoration:none;
	background-color: #E0E0D1;
}
@font-face{
	/* http://www.dafont.com/gourdie-cursive.font?text=Your+Tri%5B */
    font-family: "GCursiv2";
    src: url('GCursiv2.ttf');
}
.textcontent{
	 color: #E0E0D1;
}


.form{
	background-color: #FFC285;
	border-radius: 10px 10px 10px 10px;
	padding: 5px;
}

#title{
	font-family: "GCursiv2";
	color: #FF9933;
	font-size: 72px;
}
a{
	color: black;
	text-decoration: none;
}
a:hover{

	text-decoration: none;
}
#icon{
	width:40px;
	height:40px;
	position: relative;
    top: -40px; 
}
#navshape{
	padding-top: 15px;
	background-color: #D2D1D1;
	/* http://www.chickensmoothie.com/Forum/viewtopic.php?f=65&t=2023377 */
	background-image: url('../images/city_banner.png');
	color: #FF9933;
	margin-bottom: 0px;
}